@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-x-hidden;
}

:root {
  direction: rtl;
  --font-base: 16px;
  --spacing-base: 1rem;
  --color-primary: #60BFC1;
  --color-secondary: #BADFD7;
  --color-accent: #F7E3DB;
}

body {
  @apply bg-secondary overflow-x-hidden;
}

/* Custom styles for tables */
table {
  @apply w-full border-collapse border border-gray-300 my-4;
}

th {
  @apply bg-gray-50 text-right px-4 py-2 border border-gray-300;
}

td {
  @apply px-4 py-2 border border-gray-300;
}

/* Custom styles for lists */
ul, ol {
  @apply space-y-2;
}

/* Custom styles for sections */
section {
  @apply bg-white rounded-lg shadow-md p-6 mb-6 flex flex-col gap-4;
}

/* Ensure no horizontal scrolling on mobile */
@media (max-width: 767px) {
  body {
    @apply overflow-x-hidden;
  }

  .container {
    @apply overflow-x-hidden;
  }
}

.animate-fade-in {
    animation: fadeIn 0.5s ease-out 0.3s forwards;
    /* ודא שהטקסט לא מוסתר על ידי חוקים אחרים */
    opacity: 0; /* התחל עם שקיפות */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}